body{
  margin: 0;
  color: #FFFFFF;
  font-family: sans-serif;
}

div {
  padding: 5% 15%;
}

.dark {
  background-color: #111111;
}

.lightish {
  background-color: #DEDEDE;
}

.light {
  background-color: inherit;
  color: #333333;
}

/*********************************************************************************/

.article {
  background-color: #FFFFFF;
  color: #222222;
  font-size: 1.5rem;
  box-shadow: 4px 4px 2px #333333;
  padding: 1%;
  margin: 5% 0;
}

.article h2 {
  text-align: center;
}

.nav {
  padding: 1% 10%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  vertical-align: middle;
}

.nav-text {
  display: inline-block;
}

.link {
  transition: 0.5s;
}

.brand {
  display: inline;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}

.nav-link {
  padding: 0.2% 4%;
}

.nav-links {
  padding: 0;
  float: right;
  width: 70%;
}

/*********************************************************************************/

.header {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQh-EziBozJDSVmqZbUu4844IkjshE6nPzba-fl474tf389OXOdWw");
  background-size: cover;
  padding: 15% 20%;
  text-align: center;
}

.header-content {
  background-color: #00000066;
}

.header-text {
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
}

/*********************************************************************************/

.main {
  text-align: center;
}

.paragraph {
  text-align: left;
  font-size: 1.2rem;
  width: 60%;
  padding: 1% 0;
  margin: auto;
}

/*********************************************************************************/

.quote {
  text-align: center;
}

/*********************************************************************************/

.popup {
  width: 33%;
  margin: auto;
  text-align: center;
  border: 3px solid gray;
  border-radius: 1rem;
  background: linear-gradient(#EEEEEE, #666666);
}

/*********************************************************************************/

.footer {
  text-align: center;
  color: #222222;
  padding: 1%;
}

/*********************************************************************************/

.dark a, .dark p{
  text-decoration: none;
  color: #EEEEEE;
}

/*********************************************************************************/

.link:hover {
  color: #FFFAAD;
}
